@charset "utf-8";

// Colors
$light-gray: #f5f6fa;
$light-blue: #03a9f4;

// Bulma global variables
$body-background-color: $light-gray !important;
$primary: $light-blue;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
